[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
pip = "*"
install = "*"
django-rest-swagger = "*"
ipython = "*"
twilio = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-phonenumber-field]
extras = [ "phonenumbers",]
